body{
    margin:0;
    background-color: rgb(231, 135, 135);
}
#titre{
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: relative;
    text-align: center;
    font-size: 75px ;
    margin-bottom:0;
    padding: 0;
}
.lalao{
    display: flex;
    justify-content: center;
    margin: 0;
}
.lalao #play{
    /*border: 5px solid black;*/
    width: 200px;
    height: 200px;
    font-size: 25px;
   background-color: coral; 
    border-radius: 61%;
}
 .lalao #play:hover{
    background-color: rgb(255,107, 50);
 }
.choix{
    margin: 0;
    display: none;
    justify-content: space-evenly;   
}
.choix p{
    border-radius: 50px;
    font-size: 80px;
    padding: 50px;
    background-color: rgb(212, 87, 87);
}
.choix p:hover{
    background-color: rgb(212, 67, 77);
}
.choix p:active{
    background-color: rgb(212, 57, 67);
}
.Joueur{
    align-items: center;
    text-align: center;
    font-size: 100px;
    margin-top: -100px;
}
.Joueur button{
    margin-top:-100px;
    padding: 25px;
    border-radius: 25px;
    font-size: 50px;
}
.Joueur p{
    margin-bottom: 0;
}
.Joueur #textes{
    margin-top: -0px;
    font-size: 50px;
}
.Joueur #boutonTD{
    background-color: brown;
}
.Joueur .rejoue{
    background-color: bisque;
}